<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Examen01_B93082</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@*This is the menu*@
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/grupos">
                <span class="oi oi-people" aria-hidden="true"></span> Grupos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/addInv">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar Investigador
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/addCoor">
                <span class="oi oi-plus" aria-hidden="true"></span> Agregar Coordinador
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/verInv">
                <span class="oi oi-eye" aria-hidden="true"></span> Ver Investigadores
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/verCoor">
                <span class="oi oi-eye" aria-hidden="true"></span> Ver Coordinadores
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
